html,
body {
   font: 24px Helvetica;
   height: 100%;
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   flex-wrap: nowrap;
   min-height: 540px;
}

header {
   margin: 5px;
   flex-grow: 0;
   border: 1px solid #292920;
   border-radius: 7pt;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

header > div {
   margin: 5px;
   flex-grow: 1;
   flex-basis: 200px;
   display: flex;
   align-items: center;
   align-content: center;
}

.container {
   flex-grow: 1;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.box {
   margin: 5px;
   border: 1px solid #292920;
   border-radius: 7pt;
   flex-grow: 1;
   flex-basis: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.box > div {
   flex-grow: 1;
   flex-basis: 200px;
   vertical-align: center;
   padding-bottom: 15px;
}

.weather {
   display: flex;
   align-items: center;
   justify-content: center;
}

.location {
   display: flex;
   flex-wrap: wrap
}

input,
button {
   margin: 5px;
   padding: 5px
}

.weather-image {
   border-radius: 40px;
   margin: 5px;
}