<ul class="site-nav">
    <li class="page-link"><a href="{{ "/documentations/gettingStarted.html" | prepend: site.baseurl }}">getting started</a></li>
    <li class="page-link"><a href="{{ "/documentations/parts.html" | prepend: site.baseurl }}">parts</a></li>
    <li class="page-link"><a href="{{ "/documentations/modules.html" | prepend: site.baseurl }}">modules</a></li>
    <li class="page-link"><a href="{{ "/documentations/eventBus.html" | prepend: site.baseurl }}">eventBus</a></li>
    <li class="page-link"><a href="{{ "/documentations/domMutationSupport.html" | prepend: site.baseurl }}">domMutationSupport</a></li>
</ul>